<main class='home'>
  <picture>
    <img src='images/beer.png' alt='Picture of a beer' />
  </picture>
  <div>
    <a href='/beers/'>Check the Beers!</a>
  </div>
  <div>
    <a href='/random-beer/'>Check a Random Beer!</a>
  </div>
</main>