<html lang='en' dir='ltr'>
  <head>
    <meta charset='utf-8' />
    <title>Beers</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/beers'>Beers</a></li>
          <li><a href='/random-beer'>Random beer</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
    <footer>
      <p>Developed by Ironhack</p>
    </footer>
  </body>
</html>